<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="1" verbose="1" name="Suite" parallel="tests">
  <test name="Test">
    <classes>
      <class name="selenium.selenium.NewTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test1">
  	<classes>
  		<class name="selenium1.NewTest1"/>
  	</classes>
  </test>
  
    <test name="Test2">
  	<classes>
  		<class name="selenium2.NewTest2"/>
  	</classes>
  </test>
</suite> <!-- Suite -->